# Import and Setup

In [1]:
# Import required libraries and K-Means clustering functions from 'src' module
import sys
import os
sys.path.append(os.path.abspath('../src'))

from clustering import perform_kmeans_clustering

# Load Cleaned Dataset

In [7]:
import pandas as pd
from clustering import perform_kmeans_clustering  # âœ… No 'src.'

# Load cleaned dataset
df = pd.read_csv('../data/cleaned_telco.csv')

# K-Means Clustering and Data Preview

In [11]:
# Define clustering features
features = ['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges', 'TotalServicesUsed']

# Apply K-Means
df_clustered, kmeans_model = perform_kmeans_clustering(df, features, k=3)

# Preview results
df_clustered[['Segment'] + features].head()

,Segment,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,TotalServicesUsed
0,0,0,1,29.85,29.85,1
1,2,0,34,56.95,1889.50,3
2,2,0,2,53.85,108.15,3
3,0,0,45,42.30,1840.75,3
4,2,0,2,70.70,151.65,1

In [10]:
df_clustered.groupby('Segment')[features].mean().round(2)

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,TotalServicesUsed
Segment,,,,,
0,0.04,26.85,29.06,745.84,1.40
1,0.20,58.73,90.56,5305.80,5.65
2,0.25,15.62,77.24,1197.40,3.31